body {
  font-family: monospace;
  background-color: #f4f4f4;
  margin: 20px;
}
header h1 {
  color: blue;
}
.card {
  border: 1px dashed black;
  padding: 15px;
  margin: 10px;
  background-color: white;
  width: 200px;
  display: inline-block;
}